<div class="container-home">
    <div id="text">
      <h1>Open Quiver</h1><br>
      <h2>Rent a board anywhere. Get paid to share yours.</h2><br>
      <p> The largest & most trusted online marketplace for surfers to rent out and share boards.</p>
     <%= form_tag boards_path, method: :get do %>
      <%= text_field_tag :query,
        params[:place],
        class: "form-control",
        placeholder: "Where do you want to surf"
      %> <br>
      <center><%= submit_tag "Let see", class: "btn_blue" %></center>
    <% end %>
    </div>
    <div id="home-image"> <%= image_tag "https://source.unsplash.com/35muyqODIHA", alt: "alttext" %> </div>
</div>
