<h1>All our boards</h1>
<%= simple_form_for(Board.new) do |f| %>
  <%= f.input :category, collection: Board::CATEGORY %>
<% end %>

<div class="boards">
<% @boards.each do |board| %>
  <div class="board">
    <%= cl_image_tag board.photo.key, height: 300, width: 400, crop: :fill %>
    <%= link_to "#{board.name}", board_path(board) %>
  </div>
<% end %>
</div>