
<div class="container">
<h1>All our boards</h1>
<%= simple_form_for(Board.new) do |f| %>
  <%= f.input :category, collection: Board::CATEGORY %>
<% end %>

  <div class="content">
    <div class="boards">
      <% @boards.each do |board| %>
        <div class="board">

        </div>
      <% end %>
    </div>
    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers=""
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

  <br>

<div class="footer">
  <div class="list-inline">
    <ul>
      <li>
        <a href=""><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="" ><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href=""><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href=""><i class="fab fa-github"></i></a>
      </li>
    </ul>
      <div class="footer_img">
        <p>This website was coded by smart developper at Le Wagon. <i class="fas fa-laptop-code"></i></p>
        <img alt="Le Wagon Logo" src="//d26jy9fbi4q9wx.cloudfront.net/assets/logo_square-2a2b37a2be341690cc27951815247ac550d17e57b97542a61b92848057aab506.svg">
      </div>
  </div>
</div>