.content {
display: flex;
}

#map {
height: 100vh;
position: sticky;
top: 0;
}

.boards {
  flex-grow: 1;
}

.main_container {
  position: relative;
}

.sidebar {
  position: absolute;
  top: 75px;
  left: 0;
}

