.card-board {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-board img {
  transform: rotate(90deg);
  height: 100%;
  width: 40%;
  object-fit: contain;
}

.card-board h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-board p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-board .card-board-infos {
  padding: 16px;
}

.card-board-infos {
  width: 60%;

}

.card-board-infos-bottom {
  display: flex;
  justify-content: space-between;

  p {
  background-color: rgba(22, 135, 167, 0.7);
  color: aliceblue;
  padding: 5px;
  border-radius: 10%;
  }
}

.card-board-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}